doctype html
html
  head
    title Animal Entry Form
  body
    h1 Animal Entry Form
    form(action="/entry'form" method="post")
      label(for="homeZoo") Home Zoo:
      input(type="text" id="homeZoo" name="homeZoo" required)
      br
      
      label(for="scientificName") Scientific Name:
      input(type="text" id="scientificName" name="scientificName" required)
      br
      
      label(for="commonName") Common Name:
      input(type="text" id="commonName" name="commonName" required)
      br
      
      label(for="givenName") Given Name:
      input(type="text" id="givenName" name="givenName" required)
      br
      
      label Gender:
      input(type="radio" id="male" name="gender" value="male" checked)
      label(for="male") Male
      input(type="radio" id="female" name="gender" value="female")
      label(for="female") Female
      br
      
      label(for="dob") Date of Birth:
      input(type="date" id="dob" name="dob" required)
      br
      
      label(for="age") Age:
      input(type="number" id="age" name="age" required)
      br
      
      label Is Transportable:
      input(type="radio" id="available" name="transportable" value="available" checked)
      label(for="available") Available
      input(type="radio" id="unavailable" name="transportable" value="unavailable")
      label(for="unavailable") Unavailable
      br
      
      input(type="submit" value="Add Animal")
      input(type="reset" value="Reset")
